DATABASE_URL=postgresql://postgres:your_password@localhost:5433/crm_support_db

SECRET_KEY=replace_with_a_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

APP_NAME=CRM & Customer Support Management System
